<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KennUWare</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">
  </head>

  <body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
				<ul class="nav pull-left">
					<li><a href="/" class="btn btn-lg btn-primary btn-block">KennUWare</a></li>
					<li><a href="#" class="btn btn-lg btn-default active">Sign-In</a></li>
					<li><a href="/showLogoutSuccess" class="btn btn-lg btn-default active">Log Out</a></li>
				</ul>
		</div>	
	</div>
			
	<div class="container">
		<div class="jumbotron">
			<h2 class="email">Welcome!</h2>
			<button id="displayEmployee" onclick="displayEmployees" type="button" class="btn btn-secondary">Refresh</button>
			<table id="displayTable" class="table table-bordered">
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Title</th>
					<th>Department</th>
					<th>Salary</th>
					<th>Superiors</th>
					<th>Subordinates</th>
					<th>Status</th>
				</tr>
			</table>
			<div id="displayDiv"></div>
		</div>
	</div>
	
  </body>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../entries/displayEmployees.js"></script>
</html>
